<tr>
    <td>{{ ph.huesped.nombre }} {{ ph.huesped.apellido }}</td>
    <td>{{ ph.nacionalidad|default:"-" }}</td>
    <td>{{ ph.numero_pasaporte|default:"-" }}</td>
    <td>{{ ph.puntos_fidelidad|default:0 }}</td>
    <td><button><a href="{% url 'perfil_huesped_editar' ph.id %}">Editar</a></button></td>
    <td>
        <form action="{% url 'perfil_huesped_eliminar' ph.id %}" method="post">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('¿Estás seguro de eliminar este perfil?')">Eliminar</button>
        </form>
    </td>
</tr>
