{% extends "base/principal.html" %}
{% block title %}Perfiles de Huéspedes{% endblock %}

{% block cabecera %}
    <h1>Listado de Perfiles de Huéspedes</h1>
{% endblock cabecera %}

{% block contenido %}

<table>
    <thead>
        <tr>
            <th>huesped</th>
            <th>nacionalidad</th>
            <th>numero_pasaporte</th>
            <th>puntos_fidelidad</th>
        </tr>
    </thead>
    <tbody>
        {% for ph in perfil_lista %}
            {% include "perfiles/_perfil_item.html" with ph=ph %}
        {% empty %}
            <tr><td colspan="4">No hay perfiles.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
