{% extends "base/principal.html" %}
{% block title %}Perfiles de Huéspedes{% endblock %}

{% block cabecera %}
    <h1>Listado de Perfiles de Huésped</h1>
    {% if perms.hotel.add_perfilhuesped %}
    <a href="{% url 'perfil_huesped_create' %}" class="btn btn-primary">Crear Perfil</a>
    {% endif %}
{% endblock cabecera %}

{% block contenido %}

    {% if Mensaje_Busqueda %}
        <pre>{{Mensaje_Busqueda}}</pre>
    {% endif %}

<table>
    <thead>
        <tr>
            <th>huesped</th>
            <th>nacionalidad</th>
            <th>numero_pasaporte</th>
            <th>puntos_fidelidad</th>
        </tr>
    </thead>
    <tbody>
        {% for ph in perfil_lista %}
            {% include "perfiles/_perfil_item.html" with ph=ph %}
        {% empty %}
            <tr><td colspan="4">No hay perfiles.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
