{% load static %}

<header class="topbar">
    <div class="topbar-logo">
        <a href="{% url 'index' %}">
            <img src="{% static 'imagenes/logo.png' %}" alt="Logo" class="logo">
        </a>
    </div>

    <nav class="topbar-nav">
        <ul>
            <li><a href="{% url 'contacto_lista' %}">Contactos</a></li>
            <li><a href="{% url 'hotel_lista' %}">Hoteles</a></li>
            <li><a href="{% url 'tipo_habitacion' %}">Tipos de Habitación</a></li>
            <li><a href="{% url 'habitacion_lista' 1 %}">Habitaciones</a></li>
            <li><a href="{% url 'detalle_hotel' id_hotel=1 %}">Detalles de hotel</a></li>
            <li><a href="{% url 'perfil_huesped_lista' %}">Perfiles de Huésped</a></li>
            <li><a href="{% url 'servicio_lista' %}">Servicios</a></li>
            <li><a href="{% url 'dame_hotel_fecha' 2014 1 %}">Hoteles Enero 2014</a></li>
            <li><a href="{% url 'dame_hotel_calificacion' '0.86' %}">Hoteles con 0.86</a></li>
            <li><a href="{% url 'hoteles_estadisticas_calificacion' %}">Estadísticas</a></li>
            <hr>
            <li><a href="{% url 'huesped_create' %}">Crear HUESPED</a></li>
            <hr>
        </ul>
    </nav>
</header>
