{% extends "base/principal.html" %}

{% block title %}Menu - Enlaces{% endblock %}
{% block head %}{% endblock %}
{% block cabecera %}{% endblock %}
{% block contenido %}

    <h1>10 Enlaces Principales</h1>

    <ul>
        <li><a href="{% url 'contacto_lista' %}">Contactos</a></li>
        <li><a href="{% url 'hotel_lista' %}">Hoteles</a></li>
        <li><a href="{% url 'tipo_habitacion' %}">Tipos de Habitación</a></li>
        <li><a href="{% url 'habitacion_lista' 1 %}">Habitaciones</a></li>
        <li><a href="{% url 'detalle_hotel' id_hotel=1 %}">Detalles de hotel</a></li>
        <li><a href="{% url 'perfil_huesped_lista' %}">Perfiles de Huésped</a></li>
        <li><a href="{% url 'servicio_lista' %}">Servicios</a></li>
        <li><a href="{% url 'dame_hotel_fecha' 2014 1 %}">Hoteles Enero 2014</a></li>
        <li><a href="{% url 'dame_hotel_calificacion' '0.86' %}">Hoteles con 0.86</a></li>
        <li><a href="{% url 'hoteles_estadisticas_calificacion' %}">Estadísticas</a></li>
    </ul>

    <h1>Huesped</h1>
    <ul>
        <li><a href="{% url 'huesped_lista' %}">Listar HUESPED</a></li>
        <li><a href="{% url 'huesped_create' %}">Crear HUESPED</a></li>
        <li><a href="{% url 'huesped_buscar_avanzado' %}">Busqueda de HUESPED</a></li>
        <li><a href="{% url 'huesped_editar' id_huesped=2 %}">Editar HUESPED</a></li>
    </ul>

    <h1>Hotel</h1>
    <ul>
        <li><a href="{% url 'hotel_lista' %}">Listar HOTEL</a></li>
        <li><a href="{% url 'hotel_create' %}">Crear HOTEL</a></li>
        <li><a href="{% url 'hotel_buscar_avanzado' %}">Búsqueda de HOTEL</a></li>
        <li><a href="{% url 'hotel_editar' id_hotel=1 %}">Editar HOTEL</a></li>
        <li><a href="{% url 'gestion_imagenes' %}">Gestión de Imágenes</a></li>
    </ul>

    <h1>Contacto</h1>
    <ul>
        <li><a href="{% url 'contacto_lista' %}">Listar CONTACTO</a></li>
        <li><a href="{% url 'contacto_create' %}">Crear CONTACTO</a></li>
        <li><a href="{% url 'contacto_buscar_avanzado' %}">Busqueda de CONTACTO</a></li>
        <li><a href="{% url 'contacto_editar' id_contacto=1 %}">Editar CONTACTO</a></li>
    </ul>

    <h1>Perfil Huésped</h1>
    <ul>
        <li><a href="{% url 'perfil_huesped_lista' %}">Listar PERFIL HUÉSPED</a></li>
        <li><a href="{% url 'perfil_huesped_create' %}">Crear PERFIL HUÉSPED</a></li>
        <li><a href="{% url 'perfil_huesped_buscar_avanzado' %}">Busqueda de PERFIL HUÉSPED</a></li>
        <li><a href="{% url 'perfil_huesped_editar' id_perfil=1 %}">Editar PERFIL HUÉSPED</a></li>
    </ul>

    <h1>Reserva</h1>
    <ul>
        <li><a href="{% url 'reserva_lista' %}">Listar RESERVA</a></li>
        <li><a href="{% url 'reserva_create' %}">Crear RESERVA</a></li>
        <li><a href="{% url 'reserva_buscar_avanzado' %}">Busqueda de RESERVA</a></li>
        <li><a href="{% url 'reserva_editar' id_reserva=1 %}">Editar RESERVA</a></li>
    </ul>

    <h1>Factura</h1>
    <ul>
        <li><a href="{% url 'factura_lista' %}">Listar FACTURA</a></li>
        <li><a href="{% url 'factura_create' %}">Crear FACTURA</a></li>
        <li><a href="{% url 'factura_buscar_avanzado' %}">Busqueda de FACTURA</a></li>
        <li><a href="{% url 'factura_editar' id_factura=1 %}">Editar FACTURA</a></li>
    </ul>

{% endblock %}