<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle Hotel</title>
</head>
<body>
    
    <h1>Hotel con id {{hotel.id}}</h1>

    <p>Nombre de hotel: {{hotel.nombre}}</p>
    <p>Direccion de hotel: {{hotel.direccion}}</p>
    <p>Calificacion de hotel: {{hotel.calificacion}}</p>

    <ul>
        {% for servicio in hotel.servicios.all %}
            <li>Servicio: {{servicio.nombre}}</li>
        {% endfor %}
    </ul>

</body>
</html>