<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Menu Inicio</title>
</head>

<body>

   <h1>Gestion de hoteles</h1>
   <br>
   <h3>Listado de enlaces</h3>
   <ul>
       <li><a href="{% url 'contacto_lista' %}">Contactos</a></li>
       <li><a href="{% url 'hotel_lista' %}">Hoteles</a></li>
       <li><a href="{% url 'tipo_habitacion' %}">Tipos de Habitación</a></li>
       <li><a href="{% url 'habitacion_lista' 1 %}">Habitaciones</a></li>
       <li><a href="{% url 'huesped_lista' %}">Huéspedes</a></li>
       <li><a href="{% url 'perfil_huesped_lista' %}">Perfiles de Huésped</a></li>
       <li><a href="{% url 'servicio_lista' %}">Servicios</a></li>
   </ul>

</body>

</html>