<!DOCTYPE html>
<html lang="es">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Menu Inicio</title>
</head>

<body>

   <h1>Gestion de hoteles</h1>
   <br>
   <h3>Listado de enlaces</h3>
   <ul>
       <a href="{% url 'listar_hoteles' %}">Hoteles</a>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
       <li></li>
   </ul>

</body>

</html>