{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Eclipsados - Gestión{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block cabecera %}
        {% include "header.html" %}
    {% endblock %}

    <main class="container">
        {% block contenido %}{% endblock %}
    </main>

    {% include "footer.html" %}

    <!-- JS -->
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
