{% extends "principal.html" %}
{% block title %}Contactos{% endblock %}
{% block contenido %}
<h1>Listado de Contactos</h1>

<table>
    <thead>
        <tr>
            <th>nombre_contacto</th>
            <th>telefono</th>
            <th>correo</th>
            <th>sitio_web</th>
            <th>hotel</th>
        </tr>
    </thead>
    <tbody>
        {% for c in contacto_lista %}
            {% include "partials/_contacto_item.html" with c=c %}
        {% empty %}
            <tr><td colspan="5">No hay contactos.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
