{% extends "principal.html" %}
{% block title %}Facturas{% endblock %}
{% block contenido %}
<h1>Listado de Facturas</h1>

<table>
    <thead>
        <tr>
            <th>numero_factura</th>
            <th>reserva</th>
            <th>emitida_en</th>
            <th>monto_total</th>
            <th>pagada</th>
        </tr>
    </thead>
    <tbody>
        {% for f in factura_lista %}
            {% include "partials/_factura_item.html" with f=f %}
        {% empty %}
            <tr><td colspan="5">No hay facturas.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
