{% extends "principal.html" %}
{% block title %}Habitaciones{% endblock %}
{% block contenido %}
<h1>Listado de Habitaciones</h1>

<table>
    <thead>
        <tr>
            <th>hotel</th>
            <th>numero</th>
            <th>piso</th>
            <th>tipo</th>
            <th>disponible</th>
        </tr>
    </thead>
    <tbody>
        {% for hb in habitacion_lista %}
            {% include "partials/_habitacion_item.html" with hb=hb %}
        {% empty %}
            <tr><td colspan="5">No hay habitaciones.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
