{% extends "principal.html" %}
{% block title %}Huéspedes{% endblock %}
{% block contenido %}
<h1>Listado de Huéspedes</h1>

<table>
    <thead>
        <tr>
            <th>nombre</th>
            <th>apellido</th>
            <th>correo</th>
            <th>telefono</th>
        </tr>
    </thead>
    <tbody>
        {% for h in huesped_lista %}
            {% include "partials/_huesped_item.html" with h=h %}
        {% empty %}
            <tr><td colspan="4">No hay huéspedes.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
