{% extends "principal.html" %}
{% block title %}Servicios{% endblock %}
{% block contenido %}
<h1>Listado de Servicios</h1>

<table>
    <thead>
        <tr>
            <th>nombre</th>
            <th>descripcion</th>
            <th>precio</th>
            <th>es_opcional</th>
            <th>duracion_minutos</th>
        </tr>
    </thead>
    <tbody>
        {% for s in servicio_lista %}
            {% include "partials/_servicio_item.html" with s=s %}
        {% empty %}
            <tr><td colspan="5">No hay servicios.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
