<tr>
    <td>{{ h.nombre|title|upper }}</td>
    <td>{{ h.descripcion|truncatechars:80|default:"Sin descripción" }}</td>
    <td>{{ h.direccion|default:"-" }}</td>
    <td>
        {{ h.calificacion|floatformat:2 }}
        {% if h.calificacion|floatformat:2 > 4.5 %}
            - Muy bien valorado
        {% endif %}
    </td>
    <td>{{ h.num_habitaciones }}</td>
    <td>
        {% if perms.hotel.change_hotel %}
        <button><a href="{% url 'hotel_editar' h.id %}">Editar</a></button>
        {% endif %}
    </td>
    <td>
        {% if perms.hotel.delete_hotel %}
        <form action="{% url 'hotel_eliminar' h.id %}" method="post">
            {% csrf_token %}
            <button type="button" class="eliminar"
                data-bs-toggle="modal"
                data-bs-target="#modalEliminar"
                data-url="{% url 'hotel_eliminar' id_hotel=h.id %}">
                Eliminar
            </button>
        </form>
        {% endif %}
    </td>
</tr>
