{% extends "base/principal.html" %}
{% block title %}Hoteles{% endblock %}

{% block cabecera %}
    <h1>Listado de Hoteles</h1>
    {% if perms.hotel.add_hotel %}
    <a href="{% url 'hotel_create' %}" class="btn btn-primary">Crear Hotel</a>
    {% endif %}
{% endblock cabecera %}

{% block contenido %}

{% include "base/modal/_modal_eliminar.html" %}

    {% if Mensaje_Busqueda %}
        <pre>{{Mensaje_Busqueda}}</pre>
    {% endif %}

<table>
    <thead>
        <tr>
            <th>nombre</th>
            <th>descripcion</th>
            <th>direccion</th>
            <th>calificacion</th>
            <th>num_habitaciones</th>
        </tr>
    </thead>
    <tbody>
        {% for h in hotel_lista %}
            {% include "hoteles/_hotel_item.html" with h=h %}
        {% empty %}
            <tr><td colspan="5">No hay hoteles.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
