<tr>
    <td>{{ r.id }}</td>
    <td>{{ r.huesped.nombre }} {{ r.huesped.apellido }}</td>
    <td>{{ r.habitacion.numero }} - {{ r.habitacion.hotel.nombre }}</td>
    <td>{{ r.fecha_entrada|date:"d-m-Y" }}</td>
    <td>{{ r.fecha_salida|date:"d-m-Y" }}</td>
    <td>
        {% if r.estado == "confirmada" or r.estado == "en_proceso" %}
            Activa
        {% else %}
            {{ r.estado }}
        {% endif %}
    </td>
    <td>{{ r.total_servicios|default:0|floatformat:2 }}</td>
    <td>
        {% if perms.hotel.change_reserva %}
        <button><a href="{% url 'reserva_editar' r.id %}">Editar</a></button>
        {% endif %}
    </td>
    <td>
        {% if perms.hotel.delete_reserva %}
        <form action="{% url 'reserva_eliminar' r.id %}" method="post">
            {% csrf_token %}
            <button type="button" class="eliminar"
                data-bs-toggle="modal"
                data-bs-target="#modalEliminar"
                data-url="{% url 'reserva_eliminar' id_reserva=r.id %}">
                Eliminar
            </button>
        </form>
        {% endif %}
    </td>
</tr>
