{% extends "base/principal.html" %}
{% block title %}Huéspedes{% endblock %}
{% block cabecera %}
    <h1>Huéspedes</h1>
    <hr>
    <br>
{% endblock %}
{% block contenido %}

{% include "base/modal/_modal_eliminar.html" %}

    {% if Mensaje_Busqueda %}
        <pre>{{Mensaje_Busqueda}}</pre>
    {% endif %}

<table>
    <thead>
        <tr>
            <th>nombre</th>
            <th>apellido</th>
            <th>correo</th>
            <th>telefono</th>
            <th>fecha nacimiento</th>
        </tr>
    </thead>
    <tbody>
        {% for h in huesped_lista %}
            {% include "huespedes/_huesped_item.html" with h=h %}
        {% empty %}
            <tr><td colspan="4">No hay huéspedes.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
