<tr>
    <td>{{ f.numero_factura }}</td>
    <td>{{ f.reserva.id }} - {{ f.reserva.huesped.nombre }}</td>
    <td>{{ f.emitida_en|date:"d-m-Y" }}</td>
    <td>{{ f.monto_total|floatformat:2 }}</td>
    <td>
        {% if f.pagada and f.monto_total > 0 %}
            Sí (importe válido)
        {% else %}
            No
        {% endif %}
    </td>
    <td>
        {% if perms.hotel.change_factura %}
        <button><a href="{% url 'factura_editar' f.id %}">Editar</a></button>
        {% endif %}
    </td>
    <td>
        {% if perms.hotel.delete_factura %}
        <form action="{% url 'factura_eliminar' f.id %}" method="post">
            {% csrf_token %}
            <button type="button" class="eliminar"
                data-bs-toggle="modal"
                data-bs-target="#modalEliminar"
                data-url="{% url 'factura_eliminar' id_factura=f.id %}">
                Eliminar
            </button>
        </form>
        {% endif %}
    </td>
</tr>
