<tr>
    <td>{{ f.numero_factura }}</td>
    <td>{{ f.reserva.id }} - {{ f.reserva.huesped.nombre }}</td>
    <td>{{ f.emitida_en|date:"d-m-Y" }}</td>
    <td>{{ f.monto_total|floatformat:2 }}</td>
    <td>
        {% if f.pagada and f.monto_total > 0 %}
            Sí (importe válido)
        {% else %}
            No
        {% endif %}
    </td>
    <td><button><a href="{% url 'factura_editar' f.id %}">Editar</a></button></td>
    <td>
        <form action="{% url 'factura_eliminar' f.id %}" method="post">
            {% csrf_token %}
            <button type="submit" onclick="return confirm('¿Estás seguro de eliminar esta factura?')">Eliminar</button>
        </form>
    </td>
</tr>
