{% extends "base/principal.html" %}
{% block title %}Tipos de Habitación{% endblock %}

{% block cabecera %}
    <h1>Listado de Tipos de Habitación</h1>
{% endblock cabecera %}

{% block contenido %}

<table>
    <thead>
        <tr>
            <th>nombre</th>
            <th>descripcion</th>
            <th>capacidad</th>
            <th>precio_base</th>
        </tr>
    </thead>
    <tbody>
        {% for t in tipo_lista %}
            {% include "tipos_habitaciones/_tipo_item.html" with t=t %}
        {% empty %}
            <tr><td colspan="4">No hay tipos de habitación.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
